{% extends "base.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h4>{{ auction.title }}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{ auction.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: {{ auction.price }} Euro</li>
            <li class="list-group-item">Starting price: {{ auction.startingPrice }} Euro</li>
            <li class="list-group-item">Auction end date: {{ auction.expiresAt | date("d.m.Y H:i:s") }}</li>
        </ul>
    </div>

    <div class="card mt-3">
        <ul class="list-group list-group-flush">
            {% for offer in auction.offers %}
                <li class="list-group-item">Offer: {{ offer.price }} Euro, submitted {{ offer.createdAt | date("d.m.Y H:i:s") }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="container mt-3 mb-5">
        <a class="btn btn-secondary float-left mr-2" href="{{ url("auction_index") }}">Go back</a>
        <a class="btn btn-info float-left mr-2" href="{{ url("auction_edit", {"id": auction.id}) }}">Edit</a>
        {{ form_start(deleteForm, { "attr": {"class": "float-left"}}) }}
        {{ form_widget(deleteForm.submit, { "attr": {"class": "btn-danger"}}) }}
        {{ form_rest(deleteForm) }}
        {{ form_end(deleteForm) }}

        {{ form_start(finishForm, { "attr": {"class": "float-right"}}) }}
        {{ form_widget(finishForm.submit, { "attr": {"class": "btn-dark"}}) }}
        {{ form_rest(finishForm) }}
        {{ form_end(finishForm) }}

    </div>

{% endblock %}