{% extends "base.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h4>{{ auction.title }}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{ auction.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: {{ auction.price }} Euro</li>
            <li class="list-group-item">Starting price: {{ auction.startingPrice }} Euro</li>
            <li class="list-group-item">Auction end date: {{ auction.expiresAt | date("d.m.Y H:i:s") }}</li>
        </ul>
    </div>

    <div class="card mt-3">
        <ul class="list-group list-group-flush">
            {% for offer in auction.offers %}
                <li class="list-group-item">Offer: {{ offer.price }} Euro, submitted {{ offer.createdAt | date("d.m.Y H:i:s") }}</li>
            {% endfor %}
        </ul>
    </div>

    {% if is_granted("ROLE_USER") %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="input-group">
                {{ form_start(buyForm, {"attr": {"class": "float-left mr-3"}}) }}
                {{ form_widget(buyForm.submit, { "attr": {"class": "btn-success"}}) }}
                {{ form_rest(buyForm) }}
                {{ form_end(buyForm) }}

                {{ form_start(bidForm, {"attr": {"class": "float-left", "novalidate": "novalidate"}}) }}
                    <div class="input-group">
                        {{ form_widget(bidForm.price) }}
                        <div class="input-group-append">
                            {{ form_widget(bidForm.submit)}}
                        </div>
                    </div>
                    {{ form_rest(bidForm) }}
                {{ form_end(bidForm) }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {% endif %}

    <div class="container mt-3 mb-5">
        <a class="btn btn-secondary mr-2" href="{{ url("auction_index") }}">Go back</a>
    </div>

    {% if not is_granted("ROLE_USER") %}
        Log in to bidding or buying items.
    {% endif %}
{% endblock %}